
.light-badge {
  background-color: white;
}

.fab-heart {
  color: #d3312f;
  font-size: 2em;
}

.fab-flame {
  color: #ffc355;
  font-size: 2em;
}

.fab-leaf {
  color:#1cb31c;
  font-size: 2em;
}

.fab-carrot {
  color:#e59604;
  font-size: 2em;
}

.fab-beer {
  color: #c5c536;
  font-size: 2em;
}

.fab-wine {
  color:#d51bd5;
  font-size: 2em;
}

.fab-checkmark {
  color: green;
  font-size: 2em;
}