.roster {
    ion-list-header {
        --background: var(--ion-color-secondary);
        --color: white;
        ion-label {
            h2 {
                white-space: pre-wrap;
                font-weight: 900;
            }
        }
    }
    ion-item {
        --background: white;
        h3 {
            white-space: pre-wrap;
            font-size: 1.25rem;
            font-weight: 900;
        }
        p {
            font-size: 1.15rem;
            line-height: 1.5rem;
            white-space: pre-wrap;
        }
    }
}

.profile-top {
    background-color: var(--ion-color-secondary);
    color: white;
    padding: .5rem 1rem 1rem;
}