ion-content {
	--ion-background-color: black;
}
.welcome-logo-box {
    padding-bottom: 4rem;
    img {
        margin: 4rem 0rem;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}