.profile-top {
	background-color: var(--ion-color-primary);
	color: var(--ion-color-light);
	padding: 1.25rem;
	h1 {
		font-weight: bold;
		font-size: 2.5rem;
		line-height: 2rem;
	}

	h2 {
		font-weight: 400;
		font-size: 1.5rem;
		line-height: 1rem;
	}
}

ion-col {
	padding-bottom: 0px;
	padding-top: 0xp
}