.login-logo {
  padding: 20px 0;
  min-height: 200px;
  text-align: center;
}

.login-logo img {
  max-width: 150px;
}

.list {
  margin-bottom: 0;
}

img {
  width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}