.profile-top {
	background-color: var(--ion-color-secondary);
	color: white;
	padding: .5rem 1rem 1rem;
}

.house-list {
	ion-list-header {
		--background: var(--ion-color-primary);
		--color: white;
	}
	ion-item {
		--background: white;
		ion-label {
			padding: 1rem;
		}
	}
	.house-name {
		font-size: 1.5rem;
		font-weight: bold;
	}
	.house-name-item {
		--background: var(--ion-color-medium);
		--ion-text-color: black;
	}
}