// http://ionicframework.com/docs/theming/
@import '@ionic/angular/css/core.css';
@import '@ionic/angular/css/normalize.css';
@import '@ionic/angular/css/structure.css';
@import '@ionic/angular/css/typography.css';
@import '@ionic/angular/css/display.css';
@import '@ionic/angular/css/padding.css';
@import '@ionic/angular/css/float-elements.css';
@import '@ionic/angular/css/text-alignment.css';
@import '@ionic/angular/css/text-transformation.css';
@import '@ionic/angular/css/flex-utils.css';


:root {
	--ion-background-color: var(--ion-color-tertiary);
	--ion-font-family: 'Work Sans', serif;
}

ion-radio {
	--color-checked: var(--ion-color-success);
}

/* Set text color of the entire app for iOS only */
.ios {
	--ion-text-color: var(--ion-color-secondary);
}

/* Set text color of the entire app for Material Design only */
.md {
	--ion-text-color: var(--ion-color-secondary);
}

ion-checkbox {
	--border-radius: 50%;
	--color-checked: var(--ion-color-success);
}

ion-label {
	font-size: 1.5rem;
}

.background-primary {
	background-color: var(--ion-color-primary);
}

.background-secondary {
	background-color: var(--ion-color-secondary);
}

.background-tertiary {
	background-color: var(--ion-color-tertiary);
}

.ios .toolbar-title {
	text-overflow: unset;
	white-space: pre-wrap;
	overflow: visible;
 }
 
 .md .toolbar-title {
	text-overflow: unset;
	white-space: pre-wrap;
	overflow: visible;
 }

.alignleft { 
	float: left; 
} 

.alignright { 
	float: right; 
} 

/** typography **/

h1 {
	font-size: 1.8rem;
}

h2 {
	font-size: 1.6rem;
}

h3 {
	font-size: 1.4rem;
	color: black;
}

h4 {
	font-size: 1.2rem;
}

h5 {
	font-size: 1rem;
}

h6 {
	font-size: .8rem;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 900;
}

p {
	font-size: 1.2rem;
}

p.secondary-text {
	font-size: .9rem;
	color: black;
}

p.secondary-text-danger {
	font-size: .9rem;
	color: #f04141;	
}

small {
	font-size: 1rem;
}

form {
	ion-label {
		font-size: 1.25rem !important;
		font-weight: 900;
	  }
}

.main-nav {
	img {
		width: 100%;
	}
	ion-title {
		padding-left: 2rem;
	}
}

.wrap-text {
	overflow: visible;
	text-overflow: unset;
	word-wrap: inherit;
	overflow-wrap: normal;
	white-space: normal;
}

ion-list.menu-link-list {
	background-color: black;
	padding-left: 1em;
}

ion-menu ion-content {
	background: black;
	background-color: black;
}

ion-list.no-padding-inline-start {
	ion-item {
		ion-input {
			--padding-start: 0;
		}
	}
}

ion-grid.dark-grid {
	background-color: black;
}

ion-toolbar {
	--background: black;
	--padding-top: 1rem;
	--padding-bottom: 1rem;
	ion-title {
		font-size: 1.25rem;
		font-weight: 900;
	}

	ion-menu-button {
		--color: white;
	}

	ion-back-button {
		--color: white;
	}

	ion-title {
		--color: white;
	}
}

ion-split-pane {
	ion-list-header {
		font-size: 1.25rem;
		font-weight: 900;
	}
}

ion-footer {
	ion-button {
		margin: 0rem !important;
		border-radius: 0rem !important;
		font-size: 1rem;
	}
}

ion-button {
	font-size: 1.25rem;
	font-weight: 700;
}

.blue-button {
	--background: #00A9E0;
	--color: white;
}

.store-info {
	a {
		color: white;
		text-decoration: none;
		font-size: 1.25rem;
	}
	p {
		color: white;
		font-size: 1.25rem;
	}
}

.item-group-ios ion-item:last-child {
	--border-width: 0 0 0.55px 0;
}