// http://ionicframework.com/docs/theming/
@import '@ionic/angular/css/core.css';
@import '@ionic/angular/css/normalize.css';
@import '@ionic/angular/css/structure.css';
@import '@ionic/angular/css/typography.css';
@import '@ionic/angular/css/display.css';
@import '@ionic/angular/css/padding.css';
@import '@ionic/angular/css/float-elements.css';
@import '@ionic/angular/css/text-alignment.css';
@import '@ionic/angular/css/text-transformation.css';
@import '@ionic/angular/css/flex-utils.css';

/** Override Ionic default color classes **/
.ion-color-primary {
  --ion-color-base: var(--ion-color-primary) !important;
  --ion-color-base-rgb: var(--ion-color-primary-rgb) !important;
  --ion-color-contrast: var(--ion-color-primary-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-primary-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-primary-shade) !important;
  --ion-color-tint: var(--ion-color-primary-tint) !important;
}

.ion-color-secondary {
  --ion-color-base: var(--ion-color-secondary) !important;
  --ion-color-base-rgb: var(--ion-color-secondary-rgb) !important;
  --ion-color-contrast: var(--ion-color-secondary-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-secondary-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-secondary-shade) !important;
  --ion-color-tint: var(--ion-color-secondary-tint) !important;
}

.ion-color-tertiary {
  --ion-color-base: var(--ion-color-tertiary) !important;
  --ion-color-base-rgb: var(--ion-color-tertiary-rgb) !important;
  --ion-color-contrast: var(--ion-color-tertiary-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-tertiary-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-tertiary-shade) !important;
  --ion-color-tint: var(--ion-color-tertiary-tint) !important;
}

.ion-color-success {
  --ion-color-base: var(--ion-color-success) !important;
  --ion-color-base-rgb: var(--ion-color-success-rgb) !important;
  --ion-color-contrast: var(--ion-color-success-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-success-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-success-shade) !important;
  --ion-color-tint: var(--ion-color-success-tint) !important;
}

.ion-color-warning {
  --ion-color-base: var(--ion-color-warning) !important;
  --ion-color-base-rgb: var(--ion-color-warning-rgb) !important;
  --ion-color-contrast: var(--ion-color-warning-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-warning-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-warning-shade) !important;
  --ion-color-tint: var(--ion-color-warning-tint) !important;
}

.ion-color-danger {
  --ion-color-base: var(--ion-color-danger) !important;
  --ion-color-base-rgb: var(--ion-color-danger-rgb) !important;
  --ion-color-contrast: var(--ion-color-danger-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-danger-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-danger-shade) !important;
  --ion-color-tint: var(--ion-color-danger-tint) !important;
}

.ion-color-dark {
  --ion-color-base: var(--ion-color-dark) !important;
  --ion-color-base-rgb: var(--ion-color-dark-rgb) !important;
  --ion-color-contrast: var(--ion-color-dark-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-dark-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-dark-shade) !important;
  --ion-color-tint: var(--ion-color-dark-tint) !important;
}

.ion-color-medium {
  --ion-color-base: var(--ion-color-medium) !important;
  --ion-color-base-rgb: var(--ion-color-medium-rgb) !important;
  --ion-color-contrast: var(--ion-color-medium-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-medium-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-medium-shade) !important;
  --ion-color-tint: var(--ion-color-medium-tint) !important;
}

.ion-color-light {
  --ion-color-base: var(--ion-color-light) !important;
  --ion-color-base-rgb: var(--ion-color-light-rgb) !important;
  --ion-color-contrast: var(--ion-color-light-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-light-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-light-shade) !important;
  --ion-color-tint: var(--ion-color-light-tint) !important;
}


:root {
  /** primary **/
  --ion-color-primary: #F6BE00;
  --ion-color-primary-rgb: 246, 190, 0;
  --ion-color-primary-contrast: #000000;
  --ion-color-primary-contrast-rgb: 0, 0, 0;
  --ion-color-primary-shade: #d8a700;
  --ion-color-primary-tint: #f7c51a;

  /** secondary **/
  --ion-color-secondary: #000000;
  --ion-color-secondary-rgb: 0, 0, 0;
  --ion-color-secondary-contrast: #FFFFFF;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #000000;
  --ion-color-secondary-tint: #1a1a1a;

  /** tertiary **/
  --ion-color-tertiary: #FFFFFF;
  --ion-color-tertiary-rgb: 255, 255, 255;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0, 0, 0;
  --ion-color-tertiary-shade: #e0e0e0;
  --ion-color-tertiary-tint: #ffffff;

  /** success **/
  --ion-color-success: #00B140;
  --ion-color-success-rgb: 0, 177, 64;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #009c38;
  --ion-color-success-tint: #1ab953;

  /** warning **/
  --ion-color-warning: #b11f24;
  --ion-color-warning-rgb: 177, 31, 36;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #9c1b1f;
  --ion-color-warning-tint: #b9353a;

  /** danger **/
  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 240, 65, 65;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  /** dark **/
  --ion-color-dark: #000000;
  --ion-color-dark-rgb: 0, 0, 0;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #000000;
  --ion-color-dark-tint: #1a1a1a;

  /** medium **/
  --ion-color-medium: #CCCCCC;
  --ion-color-medium-rgb: 204, 204, 204;
  --ion-color-medium-contrast: #000000;
  --ion-color-medium-contrast-rgb: 0, 0, 0;
  --ion-color-medium-shade: #b3b3b3;
  --ion-color-medium-tint: #d6d6d6;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  --ion-background-color: var(--ion-color-tertiary);
  --ion-font-family: 'Work Sans', serif;
  --ion-toolbar-color: white;
}

ion-radio {
	--color-checked: var(--ion-color-success);
}

/* Set text color of the entire app for iOS only */
.ios {
	--ion-text-color: var(--ion-color-secondary);
}

/* Set text color of the entire app for Material Design only */
.md {
	--ion-text-color: var(--ion-color-secondary);
}

ion-checkbox {
	--border-radius: 50%;
	--color-checked: var(--ion-color-success);
}

ion-label {
	font-size: 1.5rem;
}

.background-primary {
	background-color: var(--ion-color-primary);
}

.background-secondary {
	background-color: var(--ion-color-secondary);
}

.background-tertiary {
	background-color: var(--ion-color-tertiary);
}

.ios .toolbar-title {
	text-overflow: unset;
	white-space: pre-wrap;
	overflow: visible;
 }
 
 .md .toolbar-title {
	text-overflow: unset;
	white-space: pre-wrap;
	overflow: visible;
 }

.alignleft { 
	float: left; 
} 

.alignright { 
	float: right; 
} 

/** typography **/

h1 {
	font-size: 1.8rem;
}

h2 {
	font-size: 1.6rem;
}

h3 {
	font-size: 1.4rem;
	color: black;
}

h4 {
	font-size: 1.2rem;
}

h5 {
	font-size: 1rem;
}

h6 {
	font-size: .8rem;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 900;
}

p {
	font-size: 1.2rem;
}

p.secondary-text {
	font-size: .9rem;
	color: black;
}

p.secondary-text-danger {
	font-size: .9rem;
	color: #f04141;	
}

small {
	font-size: 1rem;
}

form {
	ion-label {
		font-size: 1.25rem !important;
		font-weight: 900;
	  }
}

.main-nav {
	img {
		width: 100%;
	}
	ion-title {
		padding-left: 2rem;
	}
}

.wrap-text {
	overflow: visible;
	text-overflow: unset;
	word-wrap: inherit;
	overflow-wrap: normal;
	white-space: normal;
}

ion-list.menu-link-list {
	background-color: black;
	padding-left: 1em;
}

ion-menu ion-content {
	background: black;
	background-color: black;
}

ion-list.no-padding-inline-start {
	ion-item {
		ion-input {
			--padding-start: 0;
		}
	}
}

ion-grid.dark-grid {
	background-color: black;
}

ion-toolbar {
	--background: black;
	--padding-top: 1rem;
	--padding-bottom: 1rem;
	ion-title {
		font-size: 1.25rem;
		font-weight: 900;
	}

	ion-menu-button {
		--color: white;
	}

	ion-back-button {
		--color: white;
	}

	ion-title {
		--color: white;
	}
}

ion-split-pane {
	ion-list-header {
		font-size: 1.25rem;
		font-weight: 900;
	}
}

ion-footer {
	ion-button {
		margin: 0rem !important;
		border-radius: 0rem !important;
		font-size: 1rem;
	}
}

ion-button {
	font-size: 1.25rem;
	font-weight: 700;
}

.blue-button {
	--background: #00A9E0;
	--color: white;
}

.store-info {
	a {
		color: white;
		text-decoration: none;
		font-size: 1.25rem;
	}
	p {
		color: white;
		font-size: 1.25rem;
	}
}

.item-group-ios ion-item:last-child {
	--border-width: 0 0 0.55px 0;
}